@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: #000;
  line-height: 1.6;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-image: url(img/main-bg.svg);
  background-size: cover;
  min-height: 100vh;
}

input {
  @apply focus:!outline-none;
}
